body {
            padding-top: 55px; 
            font-family: 'Poppins', Arial, sans-serif;
        }
        .bg-mamba {
            background-color: #693d1e !important;
        }
        .navbar .nav-link,
        .navbar .navbar-brand {
            color: #fff !important;
        }
        .navbar .nav-link.active,
        .navbar .nav-link:hover,
        .navbar .navbar-brand:hover {
            color: #232323 !important;
        }
        .categoria-img, .card-img-top {
            max-height: 500px;
            object-fit: cover;
            transition: transform 0.3s;
            display: block;
            width: 100%;
        }
        .card {
            overflow: hidden;
            transition: box-shadow 0.2s;
            border-radius: 10px;
            background: #232323; 
            border: none;
            box-shadow: 0 4px 24px rgba(0,0,0,0.18);
            color: #f8f9fa;
        }
        .card:hover .categoria-img,
        .card:hover .card-img-top {
            transform: scale(1.07);
        }
        .card:hover {
            box-shadow: 0 4px 16px rgba(0,0,0,0.15);
        }
        .card-img-top {
            height: 625px;
            object-fit: cover;
        }
        @media (min-width: 992px) {     /*HACE QUE EL MENU SE ABRA AL PASAR EL CURSOR, Y APLICA EL BAJAR FLUIDO (FADEINDOWN) */
        .navbar .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
            animation: fadeInDown 0.25s;
        }
        }
            .dropdown-menu {             /*BORDES REDON, SOMBRAS, PADDING ANCHO MIN */
            background-color: #232323;
            color: #f8f9fa;
            border-radius: 10px;
            box-shadow: 0 8px 24px rgba(0,0,0,0.12);
            min-width: 200px;
            padding: 0.5rem 0;
            transition: box-shadow 0.2s;
        }
            .dropdown-item {     /*ESPACIADO, ESTILO LETRA Y FLUIDO EL CAMBIO DE COLOR */
            color: #f8f9fa;
            padding: 0.75rem 1.5rem;
            transition: background 0.2s, color 0.2s;
            font-weight: 500;
        }
            .dropdown-item:hover, .dropdown-item:focus {    /*CUANDO PASO FONDO AZUL TEXTO BLANCO */
            background: #693d1e;
            color: #f8f9fa;
        }
        @keyframes fadeInDown {     /*BAJA FLUIDO */
            from { opacity: 0; transform: translateY(-10px);}
            to { opacity: 1; transform: translateY(0);}
        }
        .btn-mamba {
            background: #bfa16a;
            color: #f8f9fa;
            border: none;
            transition: background 0.2s;
        }
        .btn-mamba:hover, .btn-mamba:focus {
            background: #a88b5a;
            color: #f8f9fa;
        }
        #contacto {
            scroll-margin-top: 80px; /* Ajustá este valor según tu header fijo o lo que quieras */
        }